{% extends "base/menu.html" %}

    {% block title %} Личный кабинет {% endblock %}
{% block content %}
    <div class="container">
        <div class="header">Сайт сборщик документов</div>
  <div class="content">
  {% if message %}
  <div class="alert">
    {{ message }}
  </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
      <div class="form-group">
          <label>Логин:</label>
          <input type="text" class="form-control" name="username" type="text" id="username" value="{{ user.user.username }}">
      </div>
      <div class="form-group">
          <label>Фамилия:</label>
          <input type="text" class="form-control" name="last_name" type="text" id="last_name" value="{{ user.name }}">
      </div>
      <div class="form-group">
          <label>Имя:</label>
          <input type="text" class="form-control" name="first_name" type="text" id="first_name" value="{{ user.surname }}">
      </div>
      <div class="form-group">
          <label>Отчество:</label>
          <input type="text" class="form-control" name="second_name" type="text" id="second_name" value="{{ user.second_name }}">
      </div>
      <div class="form-group">
          <label>Электронная почта:</label>
          <input type="text" class="form-control" name="email" type="text" id="email" value="{{ user.email}}">
      </div>
      <div class="form-group">
          <label>Номер</label>
          <input type="text" class="form-control" name="number" type="text" id="number" value="{{ user.number}}">
      </div>
      <td><input type="submit" class="btn btn-success" value="Изменить данные"></td>
      <td><a href="/pass_set" class="btn btn-success">Изменить пароль </a></td>
  </form>
  </div>
    </div>>
{% endblock %}