 {% extends "base/menu.html" %}

    {% block title %} Заполнение организации {% endblock %}

{% block content %}
    <div class="container">
      <div class="content">
        <div class="row">
            <div class="col-xs-4 col-xs-off">
                <form method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label>ИНН:</label>
                        <input type="text" class="form-control" type="text" name="inn" id="inn" value="{{ user.inn }}">
                    </div>
                    <div class="form-group">
                        <label>ОГРН:</label>
                        <input type="text" class="form-control" type="text" name="ogrn" id="ogrn" value="{{ user.ogrn }}">
                    </div>
                    <div class="form-group">
                        <label>Наименование организации:</label>
                        <input class="form-control" type="text" name="name" id="name" value="{{ user.name }}">
                    </div>
                    <div class="form-group">
                        <label>Населенный пункт:</label>
                        <input type="text" class="form-control" type="text" name="city" id="city" value="{{ user.city }}">
                    </div>
                    <div class="form-group">
                        <label>Адрес:</label>
                        <input type="text" class="form-control" type="text" name="address" id="address" value="{{ user.address }}">
                    </div>
                    <div class="form-group">
                        <label>Фамилия:</label>
                        <input type="text" class="form-control" type="text" name="chief_surname" id="chief_surname" value="{{ user.chief_surname }}">
                    </div>
                    <div class="form-group">
                        <label>Имя:</label>
                        <input type="text" class="form-control" type="text" name="chief_name" id="chief_name" value="{{ user.chief_name}}">
                    </div>
                    <div class="form-group">
                        <label>Отчество:</label>
                        <input type="text" class="form-control" type="text" name="chief_secondname" id="chief_secondname" value="{{ user.chief_secondname }}">
                    </div>
                    <div class="form-group">
                        <label>Наименование полной должности:</label>
                        <input type="text" class="form-control" type="text" name="chief_fullposition" id="chief_fullposition" value="{{ user.chief_fullposition }}">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                    <a href="worker" class="btn btn-primary" >Далее </a>
                </form>
                </div>
            </div>
        </div>
{% endblock %}
