{% extends "base/menu.html" %}

    {% block title %} Личный кабинет {% endblock %}
{% block content %}
    <div class="container">
        <div class="header">Сайт сборщик документов</div>
  <div class="content">

  <div class="alert">
    Введите ваш новый пароль
  </div>
  {% if message %}
  <div class="alert">
    {{ message }}
  </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
      <div class="form-group">
          <label>Пароль:</label>
          <input type="password" class="form-control" name="password" type="text" id="password" >
      </div>
      <div class="form-group">
          <label>Повторите пароль:</label>
          <input type="password" class="form-control" name="password2" type="text" id="password2">
      </div>

      <td><input type="submit" class="btn btn-success" value="Изменить пароль"></td>
  </div>
  <div class="footer">&copy; ЦЗИ "Север"</div>
  </div>
{% endblock %}
