{% extends "base/menu.html" %}

{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <br class="col-xs-12">
                <h1>Сайт сборщик документов</h1>

                <h2>Добро пожаловать</h2>
                <br>
                <br> Центр защиты информации «Север» основан в 2009 году профессионалами в сфере информационной
                безопасности. За плечами каждого из нас – больше 10 лет опыта работы в отрасли. Поэтому для нас не
                существует нереализуемых проектов – мы справляемся даже с самыми масштабными и амбициозными.</br>

                <br>Кто нуждается в наших услугах?</br>

                <br>Центр защиты информации «Север» оказывает услуги в сфере информационной безопасности:</br>

                <li>органам государственной власти Республики Саха (Якутия);</li>
                <li> федеральным структурам;</li>
                <li> органам муниципального самоуправления;</li>
                <li> лечебно-профилактическим учреждениям;</li>
                <li> коммерческим организациям и другим.</li>

                </form>

            </div>

        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
