{% extends "base/menu.html" %}

    {% block title %} Данные сотрудников {% endblock %}
{% block content %}
   <div class="container">
     <div class="content">
       <div class="row">
           <div class="col-xs-4 col-xs-off">
               <form method='post'>{% csrf_token %}

                   <div class="form-group">
                       <label>Фамилия:</label>
                       <input type="text" class="form-control" type="text" name="surname" id="surname" value="{{ user.surname}}">
                   </div>
                   <div class="form-group">
                       <label>Имя:</label>
                       <input type="text" class="form-control" type="text" name="name" id="name" value="{{ user.name}}">
                   </div>
                   <div class="form-group">
                       <label>Отчество:</label>
                       <input class="form-control" type="text" name="second_name" id="second_name" value="{{ user.second_name}}">
                   </div>
                   <div class="form-group">
                       <label>Должность:</label>
                       <input class="form-control" type="text" name="position" id="position" value="{{ user.position}}">
                   </div>
                   <input type="submit" class="btn btn-primary" value="Сохранить">
               </form>
               </div>
           </div>
       </div>

{% endblock %}